@use '../../theme' as *;
@use '../../core' as *;
@use './tokens' as *;

@mixin button(
  $inline: $button-width,
  $block: $button-height,
  $bg: $color-bg-primary,
  $fg: $color-fg-primary,
  $bg-hover: $color-primary,
  $fg-hover: $color-on-primary
) {
  border: none;
  border-radius: rx(2);
  background-color: $bg;
  block-size: $block;
  color: $fg;
  cursor: pointer;
  inline-size: $inline;
  line-height: $block;
  /* min-inline-size: rx(200); */
  padding-inline: rx(10);
  text-align: center;
  transition:
    background-color 0.2s ease,
    transform 100ms ease;

  @include hover {
    &:hover {
      background-color: $bg-hover;
      color: $fg-hover;
    }
  }

  @include active {
    transform: scale(0.97);
    background-color: var($bg-hover);
    color: var($fg-hover);
  }
}
