@use '../theme' as *;
@use '../core' as *;

/* .game-grid-cell {
  outline: 1px solid blue;
  min-width: 20px;
} */

.game-grid-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; // temporary to see all cells clearly */
  background-color: $color-sf-secondary;
  color: $color-on-sf-secondary;
  /* min-width: rx(40); */
  /* min-height: rx(40); */
  block-size: clamp(2.3rem, 2.276rem + 0.943vh, 3.125rem);
  inline-size: clamp(2.3rem, 2.276rem + 0.943vi, 3.125rem);
  user-select: none;
  /* pointer-events: none; */

  &.border {
    color: $color-on-primary;
    box-shadow: 0 0 0 rx(2) $color-border-hover-primary;
    /* transform: scale(1.03); */
  }
}
