@use 'modern-normalize';
@use '@/pages/home/style';
@use '@/shared/uikit/theme' as *;

*:not(input) {
  @include selection($selection-bg, $selection-fg);
}

*,
::before,
::after {
  box-sizing: border-box;
}

dl,
dd,
dt,
figure,
figcaption,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
li,
ul,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  margin: 0;
  scroll-behavior: smooth;
  /* scrollbar-gutter: stable; */
}

#root {
  height: 100svh;
  background-color: $color-bg-secondary;
  background-image: $gradient-brand;
  color: $color-fg-primary;
  font-family: $font-family-primary;
}

#app {
  position: relative;
  height: 100svh;
}

/* body * {
  outline: 1px solid lime !important;
} */
